<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple folder view</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="fileManager" ng-controller="MainController">

    <div class="container">


        <table class="table-responsive">
            <thead>
                <tr>
                    <th style="width:10%">
                        <input type="checkbox" name="allFileCheck" ng-model="parentObject.allFileCheck" ng-change="parentObject.selectAllFiles()" />
                    </th>
                    <th style="width:90%">
                        <button class="btn btn-primary" ng-click="parentObject.rename()" ng-disabled="!parentObject.checkIfAnyChecked()">Rename</button>
                        <button class="btn btn-primary" ng-click="parentObject.remove()" ng-disabled="!parentObject.checkIfAnyChecked()">Delete</button>
                        <button class="btn btn-primary pull-right" ng-click="parentObject.add()" ng-disabled="parentObject.newButtonStatus">New Folder</button>
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="item in parentObject.fileList track by $index">
                    <td style="width:10%">
                        <input type="checkbox" name="filename" ng-model="item.value" ng-change="parentObject.checkIfAllChecked()" />
                    </td>
                    <td style="width:90%">
                        <div ng-if="!item.newForm && !item.renameForm">{{item.label}}</div>
                        <form ng-if="item.newForm || item.renameForm" name="newForm" class="form-inline" role="form">
                            <div class="form-group">
                                <input type="text" ng-model="parentObject.fileList[$index].label" class="form-control" id="filename">
                            </div>

                            <button type="submit" ng-if="item.newForm" class="btn btn-default" ng-click="parentObject.createFile($index)">Create</button>

                            <button type="submit" ng-if="item.renameForm" class="btn btn-default" ng-click="parentObject.saveFile($index)">Save</button>

                            <button type="submit" ng-if="item.newForm" class="btn btn-default" ng-click="parentObject.cancelFileCreation()">Cancel</button>

                            <button type="submit" ng-if="item.renameForm" class="btn btn-default" ng-click="parentObject.cancel($index)">Cancel</button>
                        </form>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>